@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #444;
}



html, body{
    margin: 0;
    padding: 0;
    min-width: 200px;
}



.logo-and-text{
    display: flex;
    align-items: center;
    max-width: 35%;
    height: 80px;
}
    .main-logo{
        height: 60px;
        margin-right: 20px;
    }
    .main-text-title{
        font-size: 2em;
        font-weight: bold;
        margin: 0;
    }



.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: aquamarine;
    height: 80px;
}
    .page-titles{
        margin: 0;
    }
    .page-title{
        display: inline;
        font-size: 1.2em;
    }
    .nav a{
        display: inline-block;
        text-decoration: none;
        padding: .5em;
    }
    .nav a:hover{
        background-color: rgb(40, 216, 157);
    }
    
    

.about-rojo-chicken{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px auto;
    width: 70%;
    height: 700px;
}
    .about-rojo-chicken-paragraph{
        font-weight: bolder;
        font-size: 1.5em;
        margin-left: 5%;
        text-align: center;
        width: 40%;
    }
    .about-rojo-chicken-image{
        width: 50%;
        max-width: 600px;
    }

.careers-intro{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px auto;
    width: 70%;
    height: 400px;
}
    .careers-intro-paragraph{
        font-weight: bold;
        font-size: 1.5em;
        margin-left: 5%;
        text-align: left;
        width: 40%;
    }

.careers-options{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
    .careers-options-inside{
        width: 33.3333%;
        height: 300px;
        background-size: cover;
        background-color: rgba(0, 0, 0, .3);
        background-blend-mode: multiply;
        color: white;
        font-size: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .background-1{
            background-image: url(images/careers-job-1.jpg);
        }
        .background-2{
            background-image: url(images/careers-job-2.jpg);
        }
        .background-3{
            background-image: url(images/careers-job-3.jpg);
        }

.section-break{
    background-color: darkgray;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 700px;
}

.line-break{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(245, 125, 125);
    justify-content: center;
    align-items: center;
}
    .line-break p{
        font-size: 2em;
        color: white;
    }

.menu, .cater-section{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
    .big-header{
        text-align: center;
        font-size: 2em;
        font-weight: bold;
    }
        .small-menu-header{
            text-align: center;
            font-size: 1.5em;
        }
    .menu-item{
        background-color: rgb(235, 235, 235);
        margin: 20px;
        border: 1px solid rgb(235, 235, 235);
    }
        .menu-item p{
            font-size: 1.2em;
            padding-left: .5em;
        }
        .menu-item-image{
            width: 400px;
            height: 410px;
        }
        .menu-item-name{
            font-weight: bold;
        }
            .menu-item-name-hot{
                color: red;
            }
        .menu-item-description{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
            .add-to-cart{
                margin-right: 5px;
                font-size: 1.2em;
                background-color: lavender;
                outline: none;
            }
                .menu-item span button:hover{
                    cursor: pointer;
                    background-color: rgb(210, 210, 230);
                }


.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 20px 0px;
    background-color: rgb(127, 236, 255);
}
    footer ul{
        margin: 0;
    }
    .logo{
        width: 75px;
    }
    .company-name{
        font-size: 2em;
        font-weight: bold;
    }
    .store-connection{
        text-align: center;
    }
        .store-connection a{
            text-decoration: none;
        }
        .store-connection p{
            padding: 10px 0;
            font-weight: 700;
        }
        .store-connection p:hover{
            background-color: rgb(104, 224, 184);
        }


.catering-intro{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/catering-background.jpg);
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: multiply;
    background-size: cover;
    height: 400px;
}
    .attention-text{
        color: red;
        font-size: 2em;
        text-align: center;
    }
    .catering-intro p{
        text-align: center;
        width: 60%;
        color: white;
        font-size: 1.3em;
        font-weight: lighter;
    }

.cart{
    margin: 20px auto;
    width: 70%;
    background-color: rgb(167, 242, 255);
}
    .cart tr{
        background-color: lavender;
    }
        .cart tr th:first-child, .cart tr td:first-child{
            width: 90%;
        }
        .cart tr td:last-child{
            text-align: center;
        }
    .cart-item{
        display: flex;
        align-items: center;
    }
        .cart-item-info{
            margin-left: 10px;
        }
            .cart-item-title{
                font-weight: bold;
            }
            .cart-item-action{
                display: flex;
                justify-content: space-between;
                align-items: center;
                min-width: 170px;
            }
                .cart-item-action button{
                    height: 50%;
                    background-color: lightcoral;
                    color:white;
                    outline: none;
                    border-radius: 10%;
                }
                    .cart-item-action button:hover{
                        cursor: pointer;
                        background-color: lightcoral;
                    }
        .cart-item-image{
            width: 25%;
        }
        .cart-item-quantity{
            width: 50px;
            height: 25px;
        }

.purchase-button-block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}
    .purchase-button{
        height: 50px;
        width: 100px;
        font-weight: bold;
        color: rgb(255, 255, 255);
        background-color: rgb(85, 214, 113);
        outline: none;
    }
        .purchase-button:hover{
            background-color: rgb(74, 190, 100);
            cursor: pointer;
        }




.rewards-intro{
    background-image: linear-gradient(to bottom right, rgb(141, 250, 119), rgb(255, 255, 6));
    background-color: rgba(0, 0, 0, .2);
    background-blend-mode: multiply;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rojo-cards-intro{
    background-image: linear-gradient(to bottom right, rgb(255, 237, 157),rgb(255, 171, 62));;
    background-color: rgba(0, 0, 0, .2);
    background-blend-mode: multiply;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .rewards-intro-paragraph, .rojo-cards-intro-paragraph{
        text-align: center;
        width: 60%;
        color: rgb(255, 255, 255);
        font-size: 1.5em;
        font-weight: lighter;
    }

.rewards-email-form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 253, 199);
    border-radius: 20px;
    height: 200px;
    width: 50%;
    margin: 130px auto;
}
    .mini-icon, .input-email, .button-apply{
        padding: 5px;
        margin: 5px;
    }
        .mini-icon{
            height: 50%;
        }
        .input-email{
            width: 60%;
            border: none;
            background-color: rgb(216, 253, 199);
            outline: none;
            font-size: 1.3em;
        }
        .button-apply{
            background-color: rgb(214, 214, 255);
            border-radius: 5px;
            font-weight: 600;
            border: none;
            outline: none;
        }
            .button-apply:hover{
                background-color: rgb(184, 184, 253);
                cursor: pointer;
            }
            .button-apply:active{
                background-color: rgb(124, 124, 255);
            }
        .input-email, .button-apply{
            height: 30%;
        }

.rojo-card-section{
    display: flex;
    width: 80%;
    margin: 30px auto;
    flex-wrap: wrap;
    justify-content: center;
}
    .rojo-card-logo{
        width: 30%;
        margin-left: 20px;
    }
    .rojo-card-description{
        color: white;
        text-align: center;
        font-weight: bold;
        letter-spacing: 2px;
        max-width: 95%;
        margin: 60px auto 0 auto;
    }
    .rojo-card{
        background-size: cover;
        background-position: center;
        background-blend-mode: multiply;
        width: 450px;
        height: 282.6px;
        /* the width and the height of these cards has a ratio of a common credit card, which is 0.628*/
        border-radius: 20px;
        margin: 20px;
    }
        .rojo-card-1{
            background-image: linear-gradient(to bottom, white, black),
            url(images/MainFood-Bowl-1.jpeg);
        }
        .rojo-card-2{
            background-image: linear-gradient(to bottom, white, black),
            url(images/mainfood-wrap-2.jpg);
        }
        .rojo-card-3{
            background-image: linear-gradient(to bottom, white, black),
            url(images/mainfood-salad-2.jpg);
        }
        .rojo-card-4{
            background-image: linear-gradient(to bottom, white, black),
            url(images/dogs-welcome.jpg)
        }

.rojo-card-info{
    text-align: center;
    font-size: .8em;
    width: 90%;
    margin: 20px auto;
}

.phone-number{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
}
    .phone-icon{
        width: 80px;
    }


/*---------------------------------------------------------*/


@media screen and (max-width: 1100px){
    /*Header*/
    .main-text-title{
        font-size: 1.5em
    }
    .main-text-title-under{
        font-size: .8em;
    }
    .page-title{
        font-size: 1em;
    }
    /*------*/

    /*Rewards & Rojo Cards*/
    .rewards-email-form{
        width: 80%;
    }
    /*--------------------*/

    /*Careers*/
    .careers-intro{
        flex-direction: column;
        width: 80%;
        height: 100%;
    }
    .careers-intro-paragraph{
        margin: 20px;
        font-size: 1.2em;
        width: 80%;
        text-align: center;
    }
    .careers-intro-picture{
        max-width: 70%;
    }
    .careers-options{
        flex-direction: column;
        width: 100%;
    }
        .careers-options-inside{
            width: 100%
        }
        .background-3{
            background-position: right;
        }
    /*--------------------*/
}

@media screen and (max-width: 830px){
    /*Header*/
    .main-text-title{
        font-size: 1.2em
    }
    .main-text-title-under{
        font-size: .6em;
    }
    .page-title{
        font-size: .8em;
    }
    /*------*/

    /*'Menu' Page*/
    .about-rojo-chicken{
        flex-direction: column;
    }
    .about-rojo-chicken-image{
        width: 70%;
    }
    .about-rojo-chicken-paragraph{
        font-size: 1.5em;
        margin: 40px 0 0 0;
        text-align: center;
        width: 100%;
        height: 50%;
    }
    /*-----------*/
}

@media screen and (max-width: 700px){
    /*Header*/
    .nav{
        flex-direction: column;
        height: 280px;
    }
    .logo-and-text{
        max-width: 100%;
        height: 100px;
    }
    .main-text-title{
        font-size: 1.8em
    }
    .main-text-title-under{
        font-size: 1em;
    }
    .page-titles{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }
    .page-title{
        border-radius: 20px;
        font-size: 1.2em;
    }
    .menu-item p{
        padding-left: .5em;
    }
    /*------*/

    /*Rewards & Rojo Cards*/
    .rewards-intro-paragraph, .rojo-cards-intro-paragraph{
        font-size: 1.1em;
    }
    /*--------------------*/

    /*Footer*/
    .footer-container{
        flex-direction: column;
    }
    .menu-item-name{
        padding: 0;
    }
    /*------*/
}

@media screen and (max-width: 620px){
    /*Rewards & Rojo Cards*/
    .rojo-card-section{
        width: 100%;
    }
        .rojo-card{
            width: 300px;
            height: 188.44px;
        }
        .rojo-card-description{
            font-size: .5em;
        }
    /*--------------------*/
}

@media screen and (max-width: 500px){
    /*Rewards & Rojo Cards*/
    .rewards-email-form{
        width: 90%;
        height: 150px;
    }
    .mini-icon{
        height: 30%;
    }
    .button-apply, .input-email{
        height: 20%;
    }
        .button-apply{
            font-size: .6em;
        }
        .input-email{
            font-size: .8em;
        }
    /*--------------------*/
}

@media screen and (max-width: 450px){
    /*'Menu' Page*/
    .menu-item{
        width: 100%;
        height: 200%;
    }
    .menu-item-image{
        width: 100%;
        height: 100%;
    }
    .menu-item-description{
        flex-direction: column;
    }
    .menu-item-name{
        text-align: center;
        margin-bottom: 5px;
    }
    .add-to-cart{
        margin: 20px auto;
    }
    .menu-item p{
        padding-left: 0;
    }
    .price{
        margin: 10px auto;
    }
    .menu-item-description{
        max-height: 200px;
    }
    /*-----------*/

    /*Rewards & Rojo Cards*/
    .rojo-cards-intro-paragraph{
        font-size: .9em;
    }
    /*--------------------*/

}

@media screen and (max-width: 340px){
    /*Rewards & Rojo Cards*/
    .rojo-card-section{
        background-color: rgb(181, 250, 250);
        width: 100%;
    }
        .rojo-card{
            width: 200px;
            height: 125.62px;
        }
        .rojo-card-description{
            font-size: .4em;
            margin-top: 30px;
        }
    /*--------------------*/
}

@media screen and (max-width: 320px){
    /*Header*/
    .main-text-title{
        font-size: 1.3em;
    }
    .main-text-title-under{
        font-size: .7em;
    }
    .page-title{
        font-size: 1em;
    }
    /*------*/

    /*Rewards & Rojo Cards*/
    .rewards-email-form{
        width: 90%;
        height: 300px;
        flex-direction: column;
    }
        .input-email{
            background-color: rgb(238, 252, 232);
            height: 10%;
            width: 90%;
            border-radius: 5px;
        }
            ::placeholder{
                text-align: center;
            }
        .mini-icon{
            height: 20%;
            padding: 0;
        }
        .button-apply{
            height: 10%;
            margin: 10px;
        }
        .rojo-card-info{
            font-size: .6em;
        }
    /*--------------------*/

    /*Careers*/
    .careers-options-inside{
        font-size: 1.2em;
    }
    /*--------------------*/
}
